.card{
  margin-bottom: 6px;
}
.grid{
  display: flex;
  justify-content: center;
}
.icon{
  transform: scale(20);
}
.icon-div{
  margin-top: 25%;
  display: flex;
  justify-content: center;
}

.no-available-text{
  font-size: 200%;
  margin-top: 25%;
  margin-left: 25%;
}

.card-title-container {
  display: flex;
  justify-content: space-between;
}

.view-button {
  margin-left: auto;
}