<section *ngLet="{
  er: m_Error$ | async, 
  fetch: m_FetchData$ | async, 
  data: m_Data$ | async,
  start: m_Start$ | async,
  createDonation: m_CreateDonation$  | async
} as vm">
  <div *ngIf="!m_Loading">
    <div>
      <mat-card class="card" *ngIf="vm.data">
        <h4>Appointment info</h4>
        <table>
          <tr>
            <td>name:</td>
            <td>{{vm.data.user.firstname}}&nbsp;{{vm.data.user.lastname}}</td>
            <td>begin:</td>
            <td>{{vm.data.begin}}</td>
          </tr>
          <tr>
            <td>email:</td>
            <td>{{vm.data.user.email}}</td>
            <td>end:</td>
            <td>{{vm.data.end}}</td>
          </tr>
          <tr>
            <td>country:</td>
            <td>{{getAddress(vm.data)?.country}}&nbsp;</td>
            <td>city:</td>
            <td>{{getAddress(vm.data)?.city}}&nbsp;</td>
          </tr>
          <tr>
            <td>street:</td>
            <td>{{getAddress(vm.data)?.street}}&nbsp;</td>
            <td>street number:</td>
            <td>{{getAddress(vm.data)?.number}}&nbsp;</td>
          </tr>
        </table>
        <div class="button-group">
          <button mat-button type="button" color="accent">Report User</button>
          <button mat-flat-button type="button" color="primary" (click)="m_Start$.next(0)">Start Appointment</button>
        </div>
      </mat-card>
      <form [formGroup]="m_Form" (ngSubmit)="m_CreateDonation$.next(0)">
        <mat-card class="card" *ngIf="vm.data">
          <h3>Fill in the report</h3>
          <h4>Registration and reception of the donor</h4>
          <div class="grid">
            <mat-form-field class="form-field" appearance="fill">
              <mat-label>Select blood type</mat-label>
              <mat-select formControlName="bloodtype">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let t of m_Types; let i=index" [value]="i">{{t}}</mat-option>
              </mat-select>
            </mat-form-field>
            <div></div>
            <mat-form-field class="form-field double" appearance="fill">
              <mat-label>Doctor's note</mat-label>
              <textarea matInput formControlName="note"></textarea>
            </mat-form-field>
          </div>
          <h4>Determination of hemoglobin/hematocrit</h4>
          <div class="grid">
            <mat-form-field class="form-field" appearance="fill">
              <mat-label>Copper-sulfate</mat-label>
              <input matInput formControlName="copperSulfate">
            </mat-form-field>
            <mat-form-field class="form-field" appearance="fill">
              <mat-label>Normal level</mat-label>
              <input matInput formControlName="normal">
            </mat-form-field>
            <mat-form-field class="form-field" appearance="fill">
              <mat-label>Hemoglobin value</mat-label>
              <input matInput formControlName="hemoglobin">
            </mat-form-field>
            <mat-form-field class="form-field" appearance="fill">
              <mat-label>Low level</mat-label>
              <input matInput formControlName="low">
            </mat-form-field>
          </div>
          <h4>Health examination</h4>
          <div class="grid">
            <div class="grid mini">
              <mat-form-field class="form-field" appearance="fill">
                <mat-label>Lungs</mat-label>
                <input matInput formControlName="lungs">
              </mat-form-field>
              <mat-form-field class="form-field" appearance="fill">
                <mat-label>Heart</mat-label>
                <input matInput formControlName="heart">
              </mat-form-field>
            </div>
            <div class="grid mini">
              <mat-form-field class="form-field" appearance="fill">
                <mat-label>TT</mat-label>
                <input matInput formControlName="tt">
              </mat-form-field>
              <mat-form-field class="form-field" appearance="fill">
                <mat-label>TB</mat-label>
                <input matInput formControlName="tb">
              </mat-form-field>
            </div>
          </div>
          <h4>Blood</h4>
          <div class="grid">
            <mat-form-field class="form-field" appearance="fill">
              <mat-label>Blood ammount(liters)</mat-label>
              <input type="number" matInput formControlName="bloodamount">
            </mat-form-field>
            <div class="button-group">
              <button mat-flat-button color="primary">Submit</button>
            </div>
          </div>
        </mat-card>
      </form>
    </div>
    <div *ngIf="vm.er" class="errors">{{vm.er}}</div>
  </div>
  <div *ngIf="m_Loading">
    <page-loader></page-loader>
  </div>
</section>