.button-group {
  display: flex;
  margin-bottom: 12px;
  margin-top: 35px;
  justify-content: right;

  &>button:not(:first-child) {
    margin-left: 15px;
  }
}

.card {
  margin-bottom: 20px;
  padding: 30px;
}

table {
  td:nth-child(1) {
    padding-right: 20px;
    font-weight: bold;
  }

  td:nth-child(2) {
    padding-right: 100px;
  }

  td:nth-child(3) {
    font-weight: bold;
    padding-right: 20px;
  }
}

.form-field {
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  grid-gap: 10px 30px;

  &.mini{
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    grid-gap: 0px 20px;
  }
  .double {
    grid-column: 1 / span 2;
  }
  
}

textarea {
  min-height: 60px;
  max-height: 150px;
}

section {
  margin-bottom: 100px;
}