<section *ngLet="(m_BCData$ | async) as bc_data">
  <div class="button-group">
    <button mat-flat-button color="primary" [routerLink]="['bc-edit']">Edit</button>
  </div>
  <mat-divider></mat-divider>
  <div class="flex-block">
    <div class="left">
      <p><b>id:</b> {{bc_data.id}}</p>
      <p><b>name:</b> {{bc_data.name}}</p>
      <p><b>description:</b> {{bc_data.description}}</p>
    </div>
    <div class="right">
      <app-map [m_Height]="350" [m_Location]="m_Location!"></app-map>
    </div>
  </div>
</section>