.grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  grid-gap: 10px 25px;
}

h3{
  margin-bottom: 40px;
}

.button-group{
  display: flex;
  justify-content: right;
  margin-top: 70px;
  margin-bottom: 100px;
  & > button:not(:first-child){
    margin-left: 15px;
  }
}

.grid-double{
  grid-column: 1 / span 2;
}

textarea{
  min-height: 120px;
  max-height: 300px;
}