<nav>
  <mat-nav-list>
    <a mat-list-item *ngFor="let route of m_Routes" [routerLink]="route.path"
      routerLinkActive="nav-active">{{route.title}}</a>
  </mat-nav-list>


  <!-- TODO: hide this upcoming section from unauthorized users -->
  <div class="protected-nav">
    <div class="divider-wrapper">
      <h5 class="nav-title">Branch Centre Admin</h5>
      <mat-divider></mat-divider>
    </div>
    <mat-nav-list>
      <a mat-list-item *ngFor="let route of m_ProtectedRoutes" [routerLink]="route.path"
        routerLinkActive="nav-active">{{route.title}}</a>
    </mat-nav-list>  
  </div>
</nav>