.divider-wrapper {
  padding: 0px 10px;
}

.nav-title {
  margin-bottom: 6px;
}

.nav-active {
  position: relative;

  &::after {
    content: "";
    top: 0px;
    right: 0px;
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var(--primary);
  }
}