<div *ngLet="{ data: m_BCData$ | async, u: m_Update$ | async } as vm">
  <button mat-button [routerLink]="['..']">
    <mat-icon>keyboard_backspace</mat-icon>
    <span style="margin-left:12px;font-size: 15px;">dashboard</span>
  </button>
  <form *ngIf="m_Form" [formGroup]="m_Form" (ngSubmit)="onSubmit()">
    <h3>Change branch center data</h3>
    <div class="grid">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>id</mat-label>
        <input type="text" matInput formControlName="id">
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Name</mat-label>
        <input type="name" matInput formControlName="name" placeholder="Ex. blood bank">
        <mat-error *ngIf="m_Form.controls['name'].hasError('required')">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field" class="grid-double">
        <mat-label>Description</mat-label>
        <textarea type="description" matInput formControlName="description"></textarea>
      </mat-form-field>
    </div>

    <div class="location">
      <app-map [m_Location]="m_MapInput!" [m_Editable]="true" (locationData)="locationHandler($event)"></app-map>
    </div>

    <div class="errors">
      <p *ngIf="(m_Error$ | async) as err">{{err}}</p>
    </div>
    
    <div class="button-group">
      <button type="button" mat-button [routerLink]="['/bc-dashboard']">Cancel</button>
      <button mat-flat-button color="primary">Submit</button>
    </div>
  </form>
</div>