<form [formGroup]="m_Form" (ngSubmit)="onSubmit()">
  <h3>Register</h3>

  <div class="grid-container">

    <mat-form-field *ngLet="{name: 'Name'} as vm" appearance="standard">
      <mat-label>{{vm.name}}</mat-label>
      <input type="text" matInput formControlName="name">
      <mat-error *ngIf="m_Form.controls['name'].hasError('required')">
        {{vm.name}} is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  
    <mat-form-field *ngLet="{name: 'Surname'} as vm" appearance="standard">
      <mat-label>{{vm.name}}</mat-label>
      <input type="text" matInput formControlName="surname">
      <mat-error *ngIf="m_Form.controls['surname'].hasError('required')">
        {{vm.name}} is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  
    <mat-form-field class="double" *ngLet="{name: 'Email'} as vm" appearance="standard">
      <mat-label>{{vm.name}}</mat-label>
      <input type="email" matInput formControlName="email"
              placeholder="Ex. example@domain.com">
      <mat-error *ngIf="m_Form.controls['email'].hasError('email') && !m_Form.controls['email'].hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="m_Form.controls['email'].hasError('required')">
        {{vm.name}} is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  
    <mat-form-field *ngLet="{name: 'Password'} as vm" appearance="standard">
      <mat-label>{{vm.name}}</mat-label>
      <input type="password" matInput formControlName="password">
      <mat-error *ngIf="m_Form.controls['password'].hasError('minlength') && !m_Form.controls['password'].hasError('required')">
        Password must be at least 8 characters long
      </mat-error>
      <mat-error *ngIf="m_Form.controls['password'].hasError('required')">
        {{vm.name}} is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  
    <mat-form-field *ngLet="{name: 'Confirm password'} as vm" appearance="standard">
      <mat-label>{{vm.name}}</mat-label>
      <input type="password" matInput formControlName="confirm_password">
      <mat-error *ngIf="m_Form.controls['confirm_password'].value != m_Form.controls['password'].value && 
      !m_Form.controls['password'].hasError('required')">
        Password confirmation does not match
      </mat-error>
      <mat-error *ngIf="m_Form.controls['confirm_password'].hasError('required')">
        {{vm.name}} is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  
  
    <mat-form-field *ngLet="{name: 'Address'} as vm" appearance="standard">
      <mat-label>{{vm.name}}</mat-label>
      <input type="text" matInput formControlName="address">
      <mat-error *ngIf="m_Form.controls['address'].hasError('required')">
        {{vm.name}} is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  
    <mat-form-field *ngLet="{name: 'City'} as vm" appearance="standard">
      <mat-label>{{vm.name}}</mat-label>
      <input type="text" matInput formControlName="city">
      <mat-error *ngIf="m_Form.controls['city'].hasError('required')">
        {{vm.name}} is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  
    <mat-form-field *ngLet="{name: 'Country'} as vm" appearance="standard">
      <mat-label>{{vm.name}}</mat-label>
      <input type="text" matInput formControlName="country">
      <mat-error *ngIf="m_Form.controls['country'].hasError('required')">
        {{vm.name}} is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  
    <mat-form-field *ngLet="{name: 'Phone'} as vm" appearance="standard">
      <mat-label>{{vm.name}}</mat-label>
      <input type="text" matInput formControlName="phone">
      <mat-error *ngIf="m_Form.controls['phone'].hasError('required')">
        {{vm.name}} is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  
    <mat-form-field *ngLet="{name: 'ID'} as vm" appearance="standard">
      <mat-label>{{vm.name}}</mat-label>
      <input type="text" matInput formControlName="id">
      <mat-error *ngIf="m_Form.controls['id'].hasError('pattern') && !m_Form.controls['id'].hasError('required')">
        ID can only contain digits 
      </mat-error>
      <mat-error *ngIf="(m_Form.controls['id'].hasError('minlength') || m_Form.controls['id'].hasError('maxlength')) && 
      !m_Form.controls['id'].hasError('required') && !m_Form.controls['id'].hasError('pattern')">
        ID must be exactly 13 digits long 
      </mat-error>
      <mat-error *ngIf="m_Form.controls['id'].hasError('required')">
        {{vm.name}} is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    
    <mat-form-field *ngLet="{name: 'Sex'} as vm" appearance="standard">
      <mat-label>{{vm.name}}</mat-label>
      <mat-select matInput formControlName="sex">
        <mat-option value="male">Male</mat-option>
        <mat-option value="female">Female</mat-option>
      </mat-select> 
      <mat-error *ngIf="m_Form.controls['sex'].hasError('required')">
        {{vm.name}} is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  
    <!-- <mat-form-field *ngLet="{name: 'Occupation'} as vm" appearance="standard">
      <mat-label>{{vm.name}}</mat-label>
      <input type="text" matInput formControlName="phone">
      <mat-error *ngIf="m_Form.controls['occupation'].hasError('required')">
        {{vm.name}} is <strong>required</strong>
      </mat-error>
    </mat-form-field> -->
    
  </div>

  <div class="button-group">
    <button class="submit" mat-flat-button color="primary">Submit</button>
  </div>

</form>