.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 25px;
  margin-bottom: 25px;
  margin-top: 10px;
}

.selection-container{
  display: flex;
  justify-content: left;
}

.section{
  margin-left: 20px;
}

.button{
  justify-content: right;
  margin-left: 20px
}

.view-button{
  justify-content: right;
}

.buttons{
  display: flex;
  justify-content: right;
}
