<section *ngLet="(m_BCData$ | async) as bc_data" class="container">
  <div *ngIf="bc_data">
    <mat-card>
      <div class="flex-block">
        <div class="left">
          <h3 style="text-align: center">{{bc_data.name}}</h3>
          <table>
            <tr>
              <td>Description:</td>
              <td>{{bc_data.description}}</td>
            </tr>
            <tr *ngIf="bc_data.feedback && bc_data.feedback.length != 0">
              <td>Grade:</td>
              <td><grade class="grade" [i_Grade]="calculateAverage(bc_data.feedback)"></grade></td>
            </tr>
            <tr>
              <td>Working time:</td>
              <td>
                <table class="inner">
                  <tr *ngFor="let day of formatWorkingDays(bc_data.workTime, bc_data.workingDays)">
                    <td>
                      {{day.day}}:
                    </td>
                    <td>
                      {{day.time}}
                    </td>
                  </tr>
                </table>
              </td>
            </tr>            
          </table>
        </div>
        <div class="right">
          <app-map [m_Height]="350" [m_Location]="m_Location!"></app-map>
        </div>
      </div>
    </mat-card>

    <div>
      <h4>Available appointments</h4>
      <button mat-stroked-button color="accent" (click)="sortByDateAndTime(bc_data.availableAppointments)">Sort by date and time</button>
      <mat-grid-list cols="3" rowHeight="3:2">
        <mat-grid-tile *ngFor="let appointment of bc_data.availableAppointments">
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{ appointment.title }}</mat-card-title>
              <mat-card-subtitle>Date: {{ getDate(appointment.start) }}</mat-card-subtitle>
              <mat-card-subtitle>Time: {{ getTime(appointment.start) }} - {{ getTime(appointment.end) }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button (click)="makeAppointment(appointment.id)">Make an appointment</button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    
  
    <div class="comment-block" *ngIf="bc_data.feedback && bc_data.feedback.length != 0">
      <h4>Feedback</h4>
      <comment-list [i_Comments]="bc_data.feedback"></comment-list>
    </div>
  </div>
  <div *ngIf="!bc_data">
    An error occurred while trying to display this center. Please try again later or contact our support team for assistance.
  </div>
</section>
