<section>
<div *ngIf="isDateSelected == false">
    <mat-form-field>
      <input matInput type="datetime-local" placeholder="Select appointment date" [value] = "selectedDate"
      (input) = "onDateChange($event)" name="dateTimePicker" [min]="minimumSelectedDateTime" required>
    </mat-form-field>

    <div class="button-group">
      <button mat-flat-button color="primary" (click)="next()" [disabled]="isNextDisabled()">Next</button>
    </div>

</div>
<div *ngIf="isDateSelected == true">
  <div class="grid">
    <mat-card class="card" *ngFor="let center of branchCenters">
      <mat-card-title>{{center.name}}</mat-card-title>
      <mat-card-content>
        <p><b>Description: </b>{{center.description}}</p>
        <p><b>Country: </b>{{center.address.country}}</p>
        <p><b>City: </b>{{center.address.city}}</p>
        <p><b>Address: </b>{{center.address.street}} {{center.address.number}}</p>
        <grade *ngIf="center.feedback && center.feedback.length != 0" class="grade" [i_Grade]="calculateAverage(center.feedback)"></grade>
      </mat-card-content>
    </mat-card>
  </div>
</div>
</section>
