.button-group {
  display: flex;
  margin-bottom: 12px;
  margin-top: 35px;
  justify-content: left;

  &>button:not(:first-child) {
    margin-left: 15px;
  }
}

.card {
  margin-bottom: 20px;
  padding: 30px;
}

table {
  td:nth-child(1) {
    padding-right: 20px;
    font-weight: bold;
  }

  td:nth-child(2) {
    padding-right: 100px;
  }

  td:nth-child(3) {
    font-weight: bold;
    padding-right: 20px;
  }
}