.dropdown-container {
    display: flex;
    flex-direction: column;
}

.select-item {
    max-width: 100%
}

.select-item:last-child {
    margin-top: 20px;
}

.heading {
    text-align: center;
    margin-bottom: 25px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.button-group{
    display: flex;
    justify-content: right;
    margin-top: 20px;
}